@charset "UTF-8";
/******* variable *******/
/* 錯誤紅色標示 */
/* 主色 */
/* 麵包屑 */
/* footer.語言.copyright */
/* 麵包屑 */
/* date */
/* 選單顏色.footer */
/* 分類選單深藍 */
/* 主選單.hover */
/* hover文字 */
/* 漸層深灰 */
/* 最新消息藍 */
/* footer.header */
/* 選單active.button */
/* footer */
/* 麵包屑 */
/* copyright */
/* 按鈕hover */
/* 最新消息灰hover */
/* 大標底線 */
/* 選單底線 */
/* 主選單下拉按鈕底線 */
/* hr淺橘 */
/* hr深橘 */
/******* css3 *******/
/*transition*/
/*blur*/
/*box-shadow*/
/*background-size*/
/* Default */
/* line 6, ../sass/auform.scss */
.au-form label {
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: bold;
  color: #666;
}
/* line 12, ../sass/auform.scss */
.au-form input, .au-form select {
  padding: 5px 12px;
}
/* line 15, ../sass/auform.scss */
.au-form input {
  width: 100%;
  height: calc(2.25rem + 2px);
  border: 1px solid #929292;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  color: #3c3c3c;
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* line 23, ../sass/auform.scss */
.au-form input:focus, .au-form input:hover {
  color: #000;
}
/* line 27, ../sass/auform.scss */
.au-form select, .au-form textarea {
  width: 100%;
  border: 1px solid #929292;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  color: #3c3c3c;
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* line 34, ../sass/auform.scss */
.au-form select:focus, .au-form select:hover, .au-form textarea:focus, .au-form textarea:hover {
  color: #000;
}
/* line 38, ../sass/auform.scss */
.au-form textarea {
  height: 180px;
  padding: 10px 12px;
  resize: none;
}
/* line 43, ../sass/auform.scss */
.au-form .help-block {
  display: block !important;
  margin: 0;
}
/* line 46, ../sass/auform.scss */
.au-form .help-block ul {
  margin-top: 5px;
  margin-bottom: 0;
}
/* line 49, ../sass/auform.scss */
.au-form .help-block ul li {
  font-size: 13px;
  line-height: 1.2;
  color: #d30000;
}
