@charset "UTF-8";
/******* variable *******/
/* 錯誤紅色標示 */
/* 主色 */
/* 麵包屑 */
/* footer.語言.copyright */
/* 麵包屑 */
/* date */
/* 選單顏色.footer */
/* 分類選單深藍 */
/* 主選單.hover */
/* hover文字 */
/* 漸層深灰 */
/* 最新消息藍 */
/* footer.header */
/* 選單active.button */
/* footer */
/* 麵包屑 */
/* copyright */
/* 按鈕hover */
/* 最新消息灰hover */
/* 大標底線 */
/* 選單底線 */
/* 主選單下拉按鈕底線 */
/* hr淺橘 */
/* hr深橘 */
/******* css3 *******/
/*transition*/
/*blur*/
/*box-shadow*/
/*background-size*/
/* Default */
/* line 1, ../sass/_common.scss */
body {
  font-size: 16px;
  color: #3c3c3c;
  padding: 0;
  background-color: #fff;
  letter-spacing: 0.085rem;
  font-family: 'Roboto','Microsoft JhengHei',"微軟正黑體",Arial,sans-serif;
}
/* line 8, ../sass/_common.scss */
body.no-scroll {
  overflow-y: hidden;
}
@media (max-height: 575px) {
  /* line 12, ../sass/_common.scss */
  body.no-scroll {
    overflow-y: auto;
  }
}

/* line 18, ../sass/_common.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.4;
}

/* line 22, ../sass/_common.scss */
a {
  cursor: pointer;
  color: #000;
}
/* line 25, ../sass/_common.scss */
a:hover, a:active {
  color: #024996;
  text-decoration: none;
  outline: none;
}

/* line 32, ../sass/_common.scss */
a, input, button {
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/* line 37, ../sass/_common.scss */
button:hover, button:active {
  outline-color: rgba(77, 144, 254, 0) !important;
}

/* line 43, ../sass/_common.scss */
.img-rwd a {
  display: block;
}
/* line 46, ../sass/_common.scss */
.img-rwd img {
  max-width: 100%;
  height: 36px;
  display: block;
  border: 1px solid #dcdcdc;
  margin-top: 15px;
}

/* line 56, ../sass/_common.scss */
::-webkit-selection {
  color: #fff;
  background: #004fa4;
}

/* line 60, ../sass/_common.scss */
::-moz-selection {
  color: #fff;
  background: #004fa4;
}

/* line 64, ../sass/_common.scss */
::selection {
  color: #fff;
  background: #004fa4;
}

/* line 69, ../sass/_common.scss */
hr {
  border-color: #dcdcdc;
}

/* line 74, ../sass/_common.scss */
.bk-shadow {
  background-color: #fff;
  margin-bottom: 30px;
  padding: 15px 0 0 0;
}

/* line 79, ../sass/_common.scss */
.content {
  line-height: 185%;
  text-align: justify;
  font-size: 16px;
  padding: 20px 0 10px 0;
}
/* line 84, ../sass/_common.scss */
.content img {
  max-width: 100%;
  height: auto;
}
/* line 88, ../sass/_common.scss */
.content a {
  line-height: 185%;
  color: #024996;
}
/* line 91, ../sass/_common.scss */
.content a:hover, .content a:active {
  color: #666;
}
/* line 95, ../sass/_common.scss */
.content hr {
  margin-top: 5px;
  margin-bottom: 15px;
}

/*頁面標題*/
/* line 102, ../sass/_common.scss */
.article-title, .article-title2, .article-title-in {
  font-size: 24px;
  color: #3c3c3c;
  text-align: center;
  margin: 30px 0;
}
@media (max-width: 992px) {
  /* line 102, ../sass/_common.scss */
  .article-title, .article-title2, .article-title-in {
    margin: 20px 0;
  }
}
/* line 110, ../sass/_common.scss */
.article-title span, .article-title2 span, .article-title-in span {
  font-size: 20px;
  color: #666;
  display: block;
  line-height: 18px;
}

/* line 117, ../sass/_common.scss */
.article-title2, .article-title-in {
  display: block;
  position: relative;
}
/* line 121, ../sass/_common.scss */
.article-title2 .square, .article-title-in .square {
  width: 0;
  height: 10px;
  border-width: 0 5px;
  border-style: solid;
  border-color: #f08235 #f08235 #f6af5b #f6af5b;
  text-align: center;
  margin: 0 8px -3px 8px;
  display: inline-block;
}
/* line 131, ../sass/_common.scss */
.article-title2 hr, .article-title-in hr {
  border-bottom: 1px solid #dcdcdc;
  text-align: center;
  width: 110px;
  display: inline-block;
  margin: 0;
}

/* line 139, ../sass/_common.scss */
.article-title-in {
  margin: 30px 0;
}

/* line 143, ../sass/_common.scss */
.news-title {
  font-size: 24px;
  color: #024996;
  padding-bottom: 15px;
  border-bottom: 1px solid #dcdcdc;
}
/* line 148, ../sass/_common.scss */
.news-title span {
  font-size: 16px;
  color: #666;
}
@media (max-width: 576px) {
  /* line 148, ../sass/_common.scss */
  .news-title span {
    display: block;
  }
}

/* line 158, ../sass/_common.scss */
.breadcrumb {
  padding: 5px 15px 5px 0;
  margin-bottom: 25px;
  list-style: none;
  background-color: #f5f5f5;
  font-size: 15px;
  border-radius: 0;
}
/* line 165, ../sass/_common.scss */
.breadcrumb a {
  color: #929292;
}
/* line 167, ../sass/_common.scss */
.breadcrumb a:hover, .breadcrumb a:active {
  color: #3c3c3c;
}
/* line 173, ../sass/_common.scss */
.breadcrumb li.active a {
  color: #003064;
}
/* line 178, ../sass/_common.scss */
.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  color: #dcdcdc;
}
@media (max-width: 576px) {
  /* line 158, ../sass/_common.scss */
  .breadcrumb {
    margin-bottom: 15px;
  }
}

/* line 186, ../sass/_common.scss */
.pagination {
  font-size: 14px;
  margin: 15px auto;
}
/* line 189, ../sass/_common.scss */
.pagination li {
  display: inline;
}
@media (max-width: 576px) {
  /* line 189, ../sass/_common.scss */
  .pagination li {
    display: inline-block;
  }
}
/* line 195, ../sass/_common.scss */
.pagination li > a {
  padding: 4px 8px;
  margin: 0.5rem;
  color: #666;
  border: 1px solid #dcdcdc;
  border-radius: 0;
}
@media (max-width: 576px) {
  /* line 195, ../sass/_common.scss */
  .pagination li > a {
    margin: 0.25rem;
  }
}
/* line 204, ../sass/_common.scss */
.pagination li > a:hover, .pagination li > a:active {
  color: #fff;
  background: #024996;
  border: 1px solid #dcdcdc;
}
/* line 210, ../sass/_common.scss */
.pagination > li:last-child > a, .pagination > li:first-child > a {
  border-radius: 0;
  padding: 4px 7px;
}
/* line 214, ../sass/_common.scss */
.pagination .active > a {
  color: #fff;
  background: #024996;
}
@media (max-width: 768px) {
  /* line 186, ../sass/_common.scss */
  .pagination {
    margin: 0 auto;
  }
}

/* line 223, ../sass/_common.scss */
#in-btn {
  display: block;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 10;
}
/* line 229, ../sass/_common.scss */
#in-btn i {
  margin-right: 5px;
}
/* line 232, ../sass/_common.scss */
#in-btn .js-gotop {
  display: block;
  margin-bottom: 10px;
  text-align: center;
  color: #f6af5b;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
/* line 241, ../sass/_common.scss */
#in-btn .js-gotop i {
  font-size: 1.5rem;
  opacity: 0.75;
}
/* line 244, ../sass/_common.scss */
#in-btn .js-gotop i:hover {
  opacity: 1;
}
/* line 248, ../sass/_common.scss */
#in-btn .js-gotop.active {
  opacity: 1;
  visibility: visible;
}
@media (max-width: 767px) {
  /* line 223, ../sass/_common.scss */
  #in-btn {
    right: 10px;
  }
}
@media (max-width: 576px) {
  /* line 257, ../sass/_common.scss */
  #in-btn .js-gotop {
    font-size: 0.95rem;
  }
}

/*---- header -----*/
/* line 2, ../sass/_header.scss */
#header {
  background: #fff;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  z-index: 99;
}
/* line 6, ../sass/_header.scss */
#header .navtop {
  position: relative;
  padding: 8px 0;
  font-size: 14px;
  color: #3c3c3c;
  background: #003064;
}
/* line 12, ../sass/_header.scss */
#header .navtop .slogan {
  display: inline-block;
}
/* line 14, ../sass/_header.scss */
#header .navtop .slogan a {
  color: #dcdcdc;
}
/* line 16, ../sass/_header.scss */
#header .navtop .slogan a:hover, #header .navtop .slogan a:active {
  color: #f6af5b;
}
/* line 21, ../sass/_header.scss */
#header .navtop .language {
  display: inline-block;
  font-size: 14px;
  color: #fff;
  float: right;
}
/* line 26, ../sass/_header.scss */
#header .navtop .language span {
  margin-right: 10px;
  vertical-align: middle;
}
/* line 30, ../sass/_header.scss */
#header .navtop .language a {
  background: transparent;
  margin: 0;
  display: inline;
  color: #dcdcdc;
}
/* line 36, ../sass/_header.scss */
#header .navtop .language a:not(:last-of-type):after {
  display: inline-block;
  content: "∣";
  margin: 0 4px 0 8px;
}
/* line 42, ../sass/_header.scss */
#header .navtop .language a:hover, #header .navtop .language a:active {
  color: #fff;
}
/* line 45, ../sass/_header.scss */
#header .navtop .language a.active {
  color: #fff;
}
/* line 47, ../sass/_header.scss */
#header .navtop .language a.active:hover {
  color: #fff;
}
/* line 58, ../sass/_header.scss */
#header .navbar .navbar-collapse .navbar-nav .dropdown .dropdown-menu {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
@media (min-width: 992px) {
  /* line 66, ../sass/_header.scss */
  #header .navbar {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  /* line 70, ../sass/_header.scss */
  #header .navbar .name-box {
    display: inline-block;
  }
  /* line 72, ../sass/_header.scss */
  #header .navbar .name-box img {
    width: 250px;
  }
  /* line 77, ../sass/_header.scss */
  #header .navbar .navbar-collapse .navbar-nav {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  /* line 80, ../sass/_header.scss */
  #header .navbar .navbar-collapse .navbar-nav > li > a {
    font-size: 1.125rem;
  }
  /* line 82, ../sass/_header.scss */
  #header .navbar .navbar-collapse .navbar-nav > li > a span {
    margin-right: 5px;
  }
  /* line 86, ../sass/_header.scss */
  #header .navbar .navbar-collapse .navbar-nav > li {
    padding: 15px 10px;
  }
  /* line 91, ../sass/_header.scss */
  #header .navbar .navbar-collapse .navbar-nav .dropdown .dropdown-toggle:after {
    margin-left: .5em;
  }
  /* line 95, ../sass/_header.scss */
  #header .navbar .navbar-collapse .navbar-nav .dropdown .dropdown-menu {
    padding: 5px;
  }
  /* line 97, ../sass/_header.scss */
  #header .navbar .navbar-collapse .navbar-nav .dropdown .dropdown-menu .dropdown-item {
    min-width: auto;
    margin: 0;
    padding: 8px 5px;
    text-align: center;
  }
  /* line 102, ../sass/_header.scss */
  #header .navbar .navbar-collapse .navbar-nav .dropdown .dropdown-menu .dropdown-item:hover, #header .navbar .navbar-collapse .navbar-nav .dropdown .dropdown-menu .dropdown-item:active {
    background-color: #004fa4;
    color: #fff;
  }
}
@media (max-width: 991px) {
  /* line 2, ../sass/_header.scss */
  #header {
    background: #fff;
    z-index: 999;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  }
  /* line 117, ../sass/_header.scss */
  #header .navbar-toggler {
    position: absolute;
    top: 0;
    left: 0;
    width: 38px;
    height: 38px;
    margin: 8px;
    padding: 6px;
    border: 2px solid #999;
    border-radius: 99px;
  }
  /* line 127, ../sass/_header.scss */
  #header .navbar-toggler i {
    color: #fff;
  }
  /* line 131, ../sass/_header.scss */
  #header .navbar {
    padding: 0;
    margin-bottom: 0;
    background-color: #003064;
  }
  /* line 135, ../sass/_header.scss */
  #header .navbar .name-box {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  /* line 139, ../sass/_header.scss */
  #header .navbar .name-box img {
    width: 250px;
    margin: 8px auto;
  }
  /* line 144, ../sass/_header.scss */
  #header .navbar .navbar-collapse {
    max-height: 360px;
    overflow-y: auto;
    background-color: #003064;
  }
  /* line 149, ../sass/_header.scss */
  #header .navbar .navbar-collapse .navbar-nav li {
    border-bottom: 1px dotted #666;
  }
  /* line 151, ../sass/_header.scss */
  #header .navbar .navbar-collapse .navbar-nav li:hover, #header .navbar .navbar-collapse .navbar-nav li:focus {
    color: #003064;
    background: none;
  }
  /* line 154, ../sass/_header.scss */
  #header .navbar .navbar-collapse .navbar-nav li:hover:first-child, #header .navbar .navbar-collapse .navbar-nav li:focus:first-child {
    background: none;
  }
  /* line 158, ../sass/_header.scss */
  #header .navbar .navbar-collapse .navbar-nav li:last-of-type {
    border-bottom: none;
  }
  /* line 162, ../sass/_header.scss */
  #header .navbar .navbar-collapse .navbar-nav li:not(.d-md-none) > a {
    font-weight: bold;
    font-size: 18px;
  }
  /* line 167, ../sass/_header.scss */
  #header .navbar .navbar-collapse .navbar-nav li a {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: #fff;
  }
  /* line 173, ../sass/_header.scss */
  #header .navbar .navbar-collapse .navbar-nav li a span {
    margin-right: 10px;
  }
  /* line 176, ../sass/_header.scss */
  #header .navbar .navbar-collapse .navbar-nav li a:hover, #header .navbar .navbar-collapse .navbar-nav li a:active {
    color: #f6af5b;
  }
  /* line 180, ../sass/_header.scss */
  #header .navbar .navbar-collapse .navbar-nav li a.dropdown-toggle:after {
    position: absolute;
    top: 25px;
    right: 40px;
    margin: 0;
  }
  /* line 188, ../sass/_header.scss */
  #header .navbar .navbar-collapse .navbar-nav li .dropdown-menu {
    padding: 0;
    background-color: #024996;
  }
  /* line 191, ../sass/_header.scss */
  #header .navbar .navbar-collapse .navbar-nav li .dropdown-menu .dropdown-item {
    letter-spacing: 0.1rem;
    white-space: normal;
  }
  /* line 194, ../sass/_header.scss */
  #header .navbar .navbar-collapse .navbar-nav li .dropdown-menu .dropdown-item:not(:last-of-type) {
    border-bottom: 1px dashed #024996;
  }
  /* line 197, ../sass/_header.scss */
  #header .navbar .navbar-collapse .navbar-nav li .dropdown-menu .dropdown-item:hover, #header .navbar .navbar-collapse .navbar-nav li .dropdown-menu .dropdown-item:active {
    background-color: #f6af5b;
    color: #004fa4;
  }
  /* line 202, ../sass/_header.scss */
  #header .navbar .navbar-collapse .navbar-nav li .dropdown-menu.active {
    display: block;
  }
  /* line 206, ../sass/_header.scss */
  #header .navbar .navbar-collapse .navbar-nav li.d-lg-none {
    padding: 8px 0;
    text-align: center;
  }
  /* line 209, ../sass/_header.scss */
  #header .navbar .navbar-collapse .navbar-nav li.d-lg-none a {
    display: inline-block;
    width: auto;
    padding: 0 15px;
    font-size: 14px;
  }
  /* line 214, ../sass/_header.scss */
  #header .navbar .navbar-collapse .navbar-nav li.d-lg-none a.active {
    color: #f6af5b;
  }
}
@media (max-width: 576px) {
  /* line 226, ../sass/_header.scss */
  #header .navbar .name-box {
    display: block;
    text-align: center;
  }
  /* line 229, ../sass/_header.scss */
  #header .navbar .name-box img {
    width: 220px;
    margin: 10px 0 10px 10px;
  }
}

/*使用者自訂顏色*/
/* line 240, ../sass/_header.scss */
#header.cgc-bg {
  background: #f5f5f5;
}
/* line 244, ../sass/_header.scss */
#header.cgc-bg .cgc-text > li > a {
  color: #003064;
}
@media (max-width: 991px) {
  /* line 252, ../sass/_header.scss */
  #header.cgc-bg .navbar {
    background: #f5f5f5;
  }
  /* line 257, ../sass/_header.scss */
  #header.cgc-bg .navbar-collapse .cgc-text > li > a {
    color: #003064;
  }
}

/*---- footer -----*/
/* line 2, ../sass/_footer.scss */
#footer {
  padding-top: 20px;
  background: #003064;
  font-size: 14px;
}
@media (max-width: 767px) {
  /* line 2, ../sass/_footer.scss */
  #footer {
    padding-top: 35px;
  }
}
/* line 9, ../sass/_footer.scss */
#footer ul {
  display: inline-block;
  width: 100%;
  padding: 0;
  margin: 0;
}
/* line 14, ../sass/_footer.scss */
#footer ul li {
  list-style: none;
}
/* line 19, ../sass/_footer.scss */
#footer .logo a {
  display: block;
  text-align: center;
  color: #dcdcdc;
}
/* line 23, ../sass/_footer.scss */
#footer .logo a img {
  display: block;
}
/* line 26, ../sass/_footer.scss */
#footer .logo a:hover, #footer .logo a:active {
  opacity: 0.9;
  color: #fff;
}
@media (max-width: 991px) {
  /* line 32, ../sass/_footer.scss */
  #footer .logo a {
    text-align: left;
  }
  /* line 34, ../sass/_footer.scss */
  #footer .logo a img {
    width: 220px;
  }
}
@media (max-width: 767px) {
  /* line 40, ../sass/_footer.scss */
  #footer .logo a {
    padding: 0 15px;
  }
}
/* line 45, ../sass/_footer.scss */
#footer .link {
  border-left: 1px solid #f7f7f7;
  border-right: 1px solid #f7f7f7;
}
/* line 48, ../sass/_footer.scss */
#footer .link ul {
  padding: 10px 0;
  text-align: center;
  vertical-align: middle;
}
/* line 53, ../sass/_footer.scss */
#footer .link li {
  display: inline-block;
  width: 33.3333%;
  margin: 5px 0;
  float: left;
}
/* line 58, ../sass/_footer.scss */
#footer .link li a {
  color: #dcdcdc;
}
/* line 60, ../sass/_footer.scss */
#footer .link li a:hover, #footer .link li a:active {
  color: #f7f7f7;
}
@media (max-width: 1199px) and (min-width: 992px) {
  /* line 66, ../sass/_footer.scss */
  #footer .link li {
    width: 50%;
  }
}
@media (max-width: 991px) {
  /* line 45, ../sass/_footer.scss */
  #footer .link {
    display: none;
  }
}
/* line 76, ../sass/_footer.scss */
#footer .info ul > li:not(:last-of-type) {
  margin-bottom: 5px;
}
/* line 80, ../sass/_footer.scss */
#footer .info li {
  color: #ececec;
}
/* line 82, ../sass/_footer.scss */
#footer .info li a {
  color: #ececec;
}
/* line 84, ../sass/_footer.scss */
#footer .info li a:hover, #footer .info li a:active {
  color: #fff;
}
/* line 89, ../sass/_footer.scss */
#footer .info li span:first-of-type {
  display: inline-block;
  margin-right: 5px;
}
/* line 95, ../sass/_footer.scss */
#footer .info li > ul li {
  display: inline-block;
}
/* line 98, ../sass/_footer.scss */
#footer .info li > ul li:not(:first-of-type):before {
  content: "/";
  display: inline-block;
  padding: 0 3px;
  color: #dcdcdc;
}
@media (max-width: 991px) and (min-width: 768px) {
  /* line 74, ../sass/_footer.scss */
  #footer .info {
    border-left: 1px solid #f7f7f7;
  }
}
@media (max-width: 767px) {
  /* line 112, ../sass/_footer.scss */
  #footer .info > ul {
    margin-top: 15px;
    padding: 0 15px;
    padding-top: 15px;
    border-top: 1px solid #f7f7f7;
  }
}

/* line 121, ../sass/_footer.scss */
.copyright {
  padding: 10px;
  margin-top: 20px;
  color: #dcdcdc;
  background: #282828;
  font-size: 13px;
}
/* line 127, ../sass/_footer.scss */
.copyright p {
  margin-bottom: 0;
}
/* line 130, ../sass/_footer.scss */
.copyright .elink {
  color: #f4c51c;
}
/* line 132, ../sass/_footer.scss */
.copyright .elink:hover {
  opacity: 0.85;
}
@media (max-width: 767px) {
  /* line 121, ../sass/_footer.scss */
  .copyright {
    padding: 15px;
    margin-top: 35px;
  }
}
@media (max-width: 575px) {
  /* line 141, ../sass/_footer.scss */
  .copyright .block {
    display: block;
  }
}

/*使用者自訂顏色*/
/* line 149, ../sass/_footer.scss */
#footer.cgc-bg {
  background: #3c3c3c;
}
/* line 153, ../sass/_footer.scss */
#footer.cgc-bg .cgc-text a, #footer.cgc-bg .cgc-text span {
  color: #fd9212;
}

/* line 8, ../sass/index.scss */
.index {
  /*首頁標題*/
}
/* line 9, ../sass/index.scss */
.index section {
  position: relative;
  padding: 60px 0;
  /*使用者自訂顏色*/
}
@media (max-width: 992px) {
  /* line 9, ../sass/index.scss */
  .index section {
    padding: 30px 0;
  }
}
/* line 17, ../sass/index.scss */
.index section#about {
  background-color: #D8D3CD;
}
/* line 19, ../sass/index.scss */
.index section#about .about-s {
  background-color: #D8D3CD;
}
/* line 23, ../sass/index.scss */
.index section#about .cgc-title {
  color: #f08235;
}
/* line 26, ../sass/index.scss */
.index section#about .cgc-text {
  color: #6DAACC;
}
/* line 32, ../sass/index.scss */
.index section#products {
  background: none;
  background-color: #003168;
}
/* line 37, ../sass/index.scss */
.index section#products .cgc-title {
  color: #f08235;
}
/* line 40, ../sass/index.scss */
.index section#products .cgc-text {
  color: #8fc31f;
}
/* line 51, ../sass/index.scss */
.index section#news .cgc-title {
  color: #f08235;
}
/* line 55, ../sass/index.scss */
.index section#news .cgc-text {
  color: #6DAACC;
}
/* line 61, ../sass/index.scss */
.index .slider {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  margin-bottom: -7px;
}
/* line 67, ../sass/index.scss */
.index .slider .slide {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* line 75, ../sass/index.scss */
.index .slider .slide:before {
  display: block;
  content: '';
  padding-bottom: 30%;
}
@media screen and (max-width: 768px) {
  /* line 75, ../sass/index.scss */
  .index .slider .slide:before {
    padding-bottom: 40%;
  }
}
@media screen and (max-width: 576px) {
  /* line 75, ../sass/index.scss */
  .index .slider .slide:before {
    padding-bottom: 45%;
  }
}
/* line 87, ../sass/index.scss */
.index .slider .slick-dots {
  bottom: 25px;
}
/* line 90, ../sass/index.scss */
.index .slider .slick-dots button:before {
  color: #f7f7f7;
}
/* line 97, ../sass/index.scss */
.index .article-title, .index .article-title2, .index .article-title-in {
  margin: 0 auto 25px;
  width: 65%;
  background: url(../images/border.png) 0 50% repeat-x;
  color: #666;
  text-align: center;
  font-weight: bold;
}
@media (max-width: 992px) {
  /* line 97, ../sass/index.scss */
  .index .article-title, .index .article-title2, .index .article-title-in {
    width: 90%;
  }
}
/* line 107, ../sass/index.scss */
.index .article-title .about-s, .index .article-title2 .about-s, .index .article-title-in .about-s {
  display: inline-block;
  padding: 0 30px;
  margin-bottom: 0;
  background: #fff;
}
@media (max-width: 992px) {
  /* line 107, ../sass/index.scss */
  .index .article-title .about-s, .index .article-title2 .about-s, .index .article-title-in .about-s {
    padding: 0 15px;
  }
}

/* line 119, ../sass/index.scss */
#about .text {
  text-align: center;
}
/* line 122, ../sass/index.scss */
#about p {
  width: 80%;
  display: inline-block;
  padding-top: 15px;
  text-align: justify;
}
@media (max-width: 1200px) {
  /* line 122, ../sass/index.scss */
  #about p {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (max-width: 576px) {
  /* line 122, ../sass/index.scss */
  #about p {
    padding-top: 0;
  }
}

/* line 147, ../sass/index.scss */
#products {
  background: url(../images/banner/home-bk1.jpg) center no-repeat;
  background-size: cover;
}
/* line 151, ../sass/index.scss */
#products a:not(.home-bn) {
  display: block;
}
/* line 154, ../sass/index.scss */
#products a .pro {
  display: block;
  position: relative;
  width: 100%;
  background: #fff;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
/* line 160, ../sass/index.scss */
#products a .pro:before {
  content: "";
  display: block;
  padding-bottom: 66.66%;
}
/* line 165, ../sass/index.scss */
#products a .pro .proimg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-position: center;
  background-size: cover;
  opacity: .9;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
/* line 177, ../sass/index.scss */
#products a .prop {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  width: 100%;
  min-height: 74px;
  padding: 15px;
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
/* line 189, ../sass/index.scss */
#products a:hover, #products a:active {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
/* line 191, ../sass/index.scss */
#products a:hover .proimg, #products a:active .proimg {
  opacity: 1;
}
/* line 194, ../sass/index.scss */
#products a:hover .prop, #products a:active .prop {
  background: #024996;
}
@media (max-width: 767px) {
  /* line 200, ../sass/index.scss */
  #products a {
    margin-bottom: 30px;
  }
  /* line 202, ../sass/index.scss */
  #products a.home-bn {
    margin-top: 0;
    margin-bottom: 0;
  }
}

/* line 209, ../sass/index.scss */
#news {
  background: url(../images/banner/cubes.png) center repeat;
}
/* line 212, ../sass/index.scss */
#news .article-title .about-s, #news .article-title2 .about-s, #news .article-title-in .about-s {
  background: url(../images/banner/cubes.png);
}
/* line 216, ../sass/index.scss */
#news a.item {
  display: block;
  padding: 15px 20px;
  background: #fff;
  border: 1px solid #dcdcdc;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
/* line 222, ../sass/index.scss */
#news a.item .n-date {
  padding-right: 15px;
  color: #999;
  text-align: center;
}
/* line 226, ../sass/index.scss */
#news a.item .n-date p {
  margin-bottom: 0;
}
/* line 228, ../sass/index.scss */
#news a.item .n-date p:first-of-type {
  font-size: 1.75rem;
  line-height: 1.1;
}
/* line 235, ../sass/index.scss */
#news a.item .n-text h4 {
  margin-bottom: 15px;
  font-weight: bold;
  color: #024996;
}
/* line 240, ../sass/index.scss */
#news a.item .n-text p {
  margin-bottom: 0;
}
/* line 244, ../sass/index.scss */
#news a.item:hover, #news a.item:active {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #024996;
}
/* line 247, ../sass/index.scss */
#news a.item:hover .n-text, #news a.item:active .n-text {
  color: #fff;
}
/* line 249, ../sass/index.scss */
#news a.item:hover .n-text h4, #news a.item:active .n-text h4 {
  color: #fff;
}
@media (max-width: 1199px) and (min-width: 768px) {
  /* line 257, ../sass/index.scss */
  #news a.item .n-date {
    margin-bottom: 15px;
  }
}
@media (max-width: 767px) {
  /* line 263, ../sass/index.scss */
  #news a.item {
    margin-bottom: 30px;
  }
  /* line 266, ../sass/index.scss */
  #news .home-bn {
    margin-top: 0;
  }
}

/* line 320, ../sass/index.scss */
.home-bn {
  display: inline-block;
  text-align: center;
  padding: 10px 15px;
  margin-top: 30px;
  color: #3c3c3c;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #dcdcdc;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
/* line 329, ../sass/index.scss */
.home-bn:hover, .home-bn:active {
  color: #fff;
  background: #ff9b00;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
@media (max-width: 1200px) {
  /* line 320, ../sass/index.scss */
  .home-bn {
    margin-top: 15px;
  }
}

/* line 338, ../sass/index.scss */
.btn-box {
  text-align: center;
  margin-top: 25px;
}
@media (max-width: 768px) {
  /* line 338, ../sass/index.scss */
  .btn-box {
    margin-top: 5px;
  }
}
