@charset "UTF-8";
/******* variable *******/
/* 錯誤紅色標示 */
/* 主色 */
/* 麵包屑 */
/* footer.語言.copyright */
/* 麵包屑 */
/* date */
/* 選單顏色.footer */
/* 分類選單深藍 */
/* 主選單.hover */
/* hover文字 */
/* 漸層深灰 */
/* 最新消息藍 */
/* footer.header */
/* 選單active.button */
/* footer */
/* 麵包屑 */
/* copyright */
/* 按鈕hover */
/* 最新消息灰hover */
/* 大標底線 */
/* 選單底線 */
/* 主選單下拉按鈕底線 */
/* hr淺橘 */
/* hr深橘 */
/******* css3 *******/
/*transition*/
/*blur*/
/*box-shadow*/
/*background-size*/
/* Default */
/* line 7, ../sass/pro-series.scss */
#pro-series .card {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  border: none;
}
/* line 10, ../sass/pro-series.scss */
#pro-series .card .card-body {
  padding: 0.75rem;
  background-color: #024996;
}
/* line 13, ../sass/pro-series.scss */
#pro-series .card .card-body .card-title {
  margin-bottom: 0;
  text-align: center;
  color: #f7f7f7;
}
/* line 19, ../sass/pro-series.scss */
#pro-series .card .list-group {
  padding: 10px 25px 20px;
  background-color: rgba(220, 220, 220, 0.75);
}
/* line 22, ../sass/pro-series.scss */
#pro-series .card .list-group .list-group-item {
  position: relative;
  padding: 10px 5px;
  background-color: transparent;
  border: none;
  border-bottom: 1px dashed #3c3c3c;
  border-radius: 0 !important;
}
/* line 29, ../sass/pro-series.scss */
#pro-series .card .list-group .list-group-item a {
  color: #3c3c3c;
  font-weight: bold;
}
/* line 32, ../sass/pro-series.scss */
#pro-series .card .list-group .list-group-item a:hover, #pro-series .card .list-group .list-group-item a:active {
  color: #024996;
  letter-spacing: 0.125rem;
}
/* line 36, ../sass/pro-series.scss */
#pro-series .card .list-group .list-group-item a i {
  margin-left: 10px;
  font-size: 1rem;
}
/* line 42, ../sass/pro-series.scss */
#pro-series .card .list-group .list-group-item.active a {
  color: #024996;
  font-size: 1.15rem;
}
/* line 48, ../sass/pro-series.scss */
#pro-series .card .list-group .list-group {
  padding: 10px 10px 0;
  background-color: transparent;
}
/* line 51, ../sass/pro-series.scss */
#pro-series .card .list-group .list-group .list-group-item {
  padding: 0.25rem 0;
  background-color: transparent;
  border: none;
}
/* line 55, ../sass/pro-series.scss */
#pro-series .card .list-group .list-group .list-group-item a {
  color: #3c3c3c;
  font-size: 1rem;
}
/* line 60, ../sass/pro-series.scss */
#pro-series .card .list-group .list-group .list-group-item.active a {
  color: #024996;
  font-size: 1.05rem;
}
@media screen and (min-width: 992px) {
  /* line 70, ../sass/pro-series.scss */
  #pro-series .dropdown {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  /* line 75, ../sass/pro-series.scss */
  #pro-series .card {
    display: none;
  }
  /* line 78, ../sass/pro-series.scss */
  #pro-series .dropdown {
    width: 100%;
    margin-bottom: 30px;
  }
  /* line 81, ../sass/pro-series.scss */
  #pro-series .dropdown .btn-secondary {
    width: 100%;
    background-color: #024996;
    border-color: transparent;
    color: #f7f7f7;
    font-weight: bolder;
    font-size: 1.25rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  /* line 91, ../sass/pro-series.scss */
  #pro-series .dropdown .btn-secondary:hover, #pro-series .dropdown .btn-secondary:focus, #pro-series .dropdown .btn-secondary:active {
    background-color: #024996;
    border-color: transparent;
    color: #dcdcdc;
  }
  /* line 97, ../sass/pro-series.scss */
  #pro-series .dropdown .dropdown-menu {
    width: 100%;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  /* line 101, ../sass/pro-series.scss */
  #pro-series .dropdown .dropdown-menu .dropdown-item {
    color: #024996;
    -moz-transition: 0.05s ease-in;
    -o-transition: 0.05s ease-in;
    -webkit-transition: 0.05s ease-in;
    transition: 0.05s ease-in;
  }
  /* line 104, ../sass/pro-series.scss */
  #pro-series .dropdown .dropdown-menu .dropdown-item:hover, #pro-series .dropdown .dropdown-menu .dropdown-item:focus, #pro-series .dropdown .dropdown-menu .dropdown-item:active {
    color: #f7f7f7;
    background-color: #024996;
  }
  /* line 109, ../sass/pro-series.scss */
  #pro-series .dropdown .dropdown-menu ul {
    padding-left: 25px;
  }
  /* line 111, ../sass/pro-series.scss */
  #pro-series .dropdown .dropdown-menu ul li {
    list-style: none;
  }
  /* line 113, ../sass/pro-series.scss */
  #pro-series .dropdown .dropdown-menu ul li a {
    position: relative;
  }
  /* line 115, ../sass/pro-series.scss */
  #pro-series .dropdown .dropdown-menu ul li a:before {
    content: "-";
    display: inline-block;
    position: absolute;
    left: 0;
  }
}
